<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="register/global.css" />
    <title>International Taxi service</title>
</head>
<body>
<div class="booking">
    <div class="journey">
        <h1 class="heading">Login</h1>
        <form method="POST" class="container">
            <input
                    type="text"
                    placeholder="Fullname"
                    name="name"
                    required
            />
            <input
                    type="text"
                    placeholder="Username"
                    name="userName"
                    required
            />
            <input
                    type="password"
                    placeholder="Password"
                    name="password"
                    required
            />
            <input
                    type="number"
                    placeholder="Phone number"
                    name="phoneNumber"
                    required
            />
            <input
                    type="email"
                    placeholder="Email id"
                    name="email"
                    required
            />
            <input
                    type="text"
                    placeholder="Address"
                    name="address"
                    required
            />
            <input
                    type="text"
                    placeholder="Latitude"
                    name="lat"
                    id="lat"
                    style="display: none"
                    disabled
            />
            <input
                    type="text"
                    placeholder="Longitude"
                    name="lng"
                    id="lng"
                    style="display: none"
                    disabled
            />
            <input id="booking" type="submit" value="Submit" />
            <%--            <button id="booking">Submit</button>--%>
        </form>
    </div>
</div>
<script src="register/main.js"></script>
</body>
</html>